<h2> Update recipe </h2>

<h2>Chosen todo: <%= @recipes['name'].capitalize %></h2>

<p><em>Description: </em> <%= @recipes['description']%></p>

<form action="/recipes/<%= @recipes['id']%>/update" method="post">
    <label> Namn
        <input type="text" name="recipe_name" value="<%= @recipes['name']%>">
    </label>
    <label>Tid
        <input type="number" name="recipe_time" required value="<%= @recipes['time']%>">
    </label>
    <label>Beskrivning
    <input type="text" name="recipe_description" required value="<%= @recipes['description']%>">
  </label>
  <label>Kategori
    <select name="recipe_category" required>
      <option value="0" <%= "selected" if @recipes['category'] == 0%>>Varmrätt</option>
      <option value="1" <%= "selected" if @recipes['category'] == 1%>>Kallrätt</option>
    </select>
  </label>
  <input type="submit" value="Uppdatera">
</form>